#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr repeat(5, 0.5fr);
    grid-gap: 6px;
    width: 400px;
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-content: center;
}

.display {
    display: grid;
    grid-column: 1 / -1;
    border: 1px solid lightgray;
    border-radius: 8px;
    justify-items: end;
    align-items: end;
    font-size: xx-large;
    padding: 10px;
}

.number {
    
}